@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.Model
@using Fr.EQL.Ai109.Tontapatt.WebApplication.Models
@model OffresDeTonteDetailsEtTerrainViewModel
@{
    int nbOffreDeTonteDetails = Model.OffresDeTonteDetails.Count;
}

@if (@nbOffreDeTonteDetails == 0)
{
    <div class="h4-liste-offre">
        <h4>Aucune offre est compatible avec votre recherche</h4>
    </div>
}
else
{
    <div class="main-list-offres">
        <div class="header-liste-offres">
            <div>
                <h3>Terrain : </h3><p> @Model.TerrainDetails.NomTerrain <!-- nom terrain --></p>
            </div>
            <div>
                <h3>Nombre de résultat : </h3><p> @nbOffreDeTonteDetails <!-- nombre de resultat de recherche --></p>
            </div>
        </div>

        @foreach (OffreDeTonteDetails offreDeTonteDetails in Model.OffresDeTonteDetails)
        {

            <div class="body-card-list-offre">
                <div class="img-profile-list-offre">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.0399054620502!2d2.2542925159080105!3d48.704718219468226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67988994bac6d%3A0xfc0bd7f98023759b!2sToyota%20-%20STA%2091%20-%20Villebon-sur-Yvette!5e0!3m2!1sfr!2sfr!4v1624193734350!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="liste-offres-right">
                    <div class="liste-detail-offres-text">
                        <h3>@offreDeTonteDetails.NomUtilisateur<!-- nom de l'eleveur --></h3>
                        <p> @offreDeTonteDetails.NomOffre <!-- nom de l'offre --></p>
                            <!-- je vais appeller l'api pour la vue a ce moment et j'aurais besoin d'object avec longitude lattitude terrain et offre -->
                            <!-- TU PEUX UTILISER @Model.TerrainDetails.LongitudeTerrain ET @Model.TerrainDetails.LatitudeTerrain + @offreDeTonteDetails.LatitudeOffreDeTonte ET
                        @offreDeTonteDetails.LongitudeOffreDetonte-->
                        <p>Distance : @offreDeTonteDetails.DistanceOffreDeTonteTerrain km<!-- distance avec l'offre --></p>
                    </div>
                    <div class="lien-carte-terrain">
                        <a class="" asp-controller="Utilisateur" asp-action="ChoixOffreDescription" asp-route-idOffreDeTonte="@offreDeTonteDetails.IdOffre" asp-route-idTerrain="@Model.TerrainDetails.IdTerrain"></a>
                    </div>
                </div>
            </div>
        }
    </div>
}