@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.Model
@using Fr.EQL.Ai109.Tontapatt.WebApplication.Models
@model DemandeDeReservationViewModel
@{
    DateTime today = DateTime.Now;
}

<input id="tailleTerrain" value="@Model.TerrainDetails.SurfaceTerrain" type="hidden" />
<input id="nmbAnimTotalOffre" value="@Model.OffreDeTonteDetails.NombreAnimaux" type="hidden" />

<div class="infosOffre_main">
    <h1 class="infosOffre_h1">@Model.OffreDeTonteDetails.NomOffre</h1>
    <div class="infosOffre_div">

        <div class="infosOffre_infos">
            <p class="infosOffre_infosNomEleveur"><strong>Nom de l'éleveur : <a href="#">@Model.OffreDeTonteDetails.NomUtilisateur @Model.OffreDeTonteDetails.PrenomUtilisateur</a></strong></p>
            <p class="infosOffre_infosDescription"><strong>Description de l'offre : </strong>@Model.OffreDeTonteDetails.DescriptionOffre</p>
            <p class="infosOffre_infosDateDebut"><strong>Date de début de l'offre : </strong>@Model.OffreDeTonteDetails.DateDebutOffre.ToString("dd/MM/yyyy")</p>
            <p class="infosOffre_infosDateFin"><strong>Date de fin de l'offre : </strong>@Model.OffreDeTonteDetails.DateFinOffre.ToString("dd/MM/yyyy")</p>
            <p class="infosOffre_infosDistance"><strong>Distance : </strong>@Model.OffreDeTonteDetails.DistanceOffreDeTonteTerrain Km</p>
            <p class="infosOffre_infosNomVille"><strong>Ville / Code Postal : </strong>@Model.OffreDeTonteDetails.NomVilleOfrreDeTonte / @Model.OffreDeTonteDetails.CodePostaleOffreDeTonte</p>
            <p class="infosOffre_infosEspeceAnimal"><strong>Espece d'animal : </strong>@Model.OffreDeTonteDetails.EspeceAnimal</p>
            <p class="infosOffre_infosRaceAnimal"><strong>Race d'animal : </strong>@Model.OffreDeTonteDetails.RaceAnimal</p>
            <p class="infosOffre_infosNombreAnimal"><strong>Nombres d'animaux : </strong>@Model.OffreDeTonteDetails.NombreAnimaux</p>
            <p class="infosOffre_infosPrix"><strong>Coût par jour par mouton : </strong>@Model.OffreDeTonteDetails.CoutAnimalParJour</p>
            <a class="infosOffre_buttonChange btn-light" asp-controller="Utilisateur" asp-action="ChoixOffreRecherche" asp-route-id="@ViewBag.IdTerrain"><i class="fas fa-arrow-left"></i></a>
        </div>

        <form method="post" class="infosOffre_selection">
            <div class="infosOffre_date">
                <p>Choisissez vos dates :</p>
                <label asp-for="DateDebutDemande">Date de début :</label>
                <input asp-for="DateDebutDemande" type="date" id="dateOffreStart" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@Model.OffreDeTonteDetails.DateFinOffre.ToString("yyyy-MM-dd")" value="" onchange="handlerstart(event);" required />
                @Html.ValidationMessage("DateDebutDemande")
                <label asp-for="DateFinDemande">Date de fin : </label>
                <input asp-for="DateFinDemande" type="date" id="dateOffreEnd" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@Model.OffreDeTonteDetails.DateFinOffre.ToString("yyyy-MM-dd")" value="" onchange="handlerend(event);" required />
                @Html.ValidationMessage("DateFinDemande")
            </div>

            <div class="eval-demande-container">
                <h3>Evaluation de la demande</h3>
                <p><i class="far fa-calendar-alt"></i>Nombre de jours: <span id="nmbJour">Selectionner Date</span></p>
                <p><i class="fas fa-paw"></i>Taille du troupeau: <span id="nmbAnim" value="12">0</span></p>
                <p><i class="fas fa-euro-sign"></i>Cout de la prestation: <span id="coutPresta">0€</span></p>
            </div>

            <div class="infosOffre_date">
                <p>Choisissez votre moyen de paiement : </p>
                <div>
                    <select name="IdMoyenPaiement" id="moyen1" asp-for="IdMoyenPaiement" required>
                        <option value="">Choisir moyen de payement</option>
                        @foreach (MoyenPaiement moyenPaiement in @Model.MoyensPaiements)
                        {
                            <option value="@moyenPaiement.IdMoyenPaiement">@moyenPaiement.TypeMoyenPaiement</option>
                        }
                    </select>
                </div>
                @Html.ValidationMessage("IdMoyenPaiement")

                <div class="infosOffre_button">
                    <input type="hidden" asp-for="IdTerrain" value="@Model.TerrainDetails.IdTerrain" />
                    <input type="hidden" id="prix" asp-for="CoutDemande" value="" />
                    <input type="hidden" name="NombreAnimaux" id="nmbAnimTotal" asp-for="NombreAnimaux" value="" />
                    <input type="hidden" asp-for="IdOffre" value="@Model.OffreDeTonteDetails.IdOffre" />

                </div>

                <button class="btn-light" type="submit" asp-controller="Utilisateur" asp-action="NouvelleDemandeDeReservation">Valider</button>
        </form>

    </div>
</div>