@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.Model
@using Fr.EQL.Ai109.Tontapatt.WebApplication.Models
@model DemandeDeReservationViewModel
@{
    DateTime today = DateTime.Now;
}

<input id="tailleTerrain" value="@Model.TerrainDetails.SurfaceTerrain" type="hidden" />
@if(Model.OffreDeTonteDetails is null)
{
    <div class="infosOffre_main">
    
    <div class="info-offre-list">
        <div class="infosOffre_div">
            <div class="list-autre-eleveur">
                @foreach (OffreDeTonteDetails offreDeTonteDetails in Model.OffresDeTonteDetails)
                {
                    <div class="body-card-list-offre-details">

                        <div class="liste-offres-right">
                            <div class="liste-detail-offres-text">
                                
                                <h3>@offreDeTonteDetails.NomUtilisateur<!-- nom de l'eleveur --></h3>
                                <p> @offreDeTonteDetails.NomOffre <!-- nom de l'offre --></p>
                                <!-- je vais appeller l'api pour la vue a ce moment et j'aurais besoin d'object avec longitude lattitude terrain et offre -->
                                <!-- TU PEUX UTILISER @Model.TerrainDetails.LongitudeTerrain ET @Model.TerrainDetails.LatitudeTerrain + @offreDeTonteDetails.LatitudeOffreDeTonte ET
                                @offreDeTonteDetails.LongitudeOffreDetonte-->
                                <p>Distance : @offreDeTonteDetails.DistanceOffreDeTonteTerrain km<!-- distance avec l'offre --></p>
                            </div>
                            <div class="card-right-list-offre">
                                <p> @offreDeTonteDetails.AdresseTroupeau <!-- nom de l'offre --></p>
                                <p alt="prix par mouton par jour"> Prix: @offreDeTonteDetails.CoutAnimalParJour €/mouton<!-- nom de l'eleveur --></p>
                                <p>Distance max : @offreDeTonteDetails.DistanceMaximale km<!-- distance avec l'offre --></p>
                            </div>
                            <div class="lien-carte-terrain">
                                <a class="" asp-controller="Utilisateur" asp-action="ChoixOffreDescription" asp-route-idOffreDeTonte="@offreDeTonteDetails.IdOffre" asp-route-idTerrain="@Model.TerrainDetails.IdTerrain"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="infosOffre_infos">
                <h1 class="infosOffre_h1"> Offre:</h1>
                <p class="infosOffre_infosNomEleveur"><strong>Nom de l'éleveur : </strong></p>
                <p class="infosOffre_infosDescription"><strong>Description de l'offre : </strong>
                <table class="info-offre-table">
                    <tr>
                        <td class="title-td">Ville</td>
                        <td class="title-td">Code Postal</td>
                        <td class="title-td">Distance</td>
                        <td class="title-td">Debut de l'offre</td>
                        <td class="title-td">Fin de l'offre</td>
                    </tr>

                </table>

                <table class="info-offre-table">
                    <tr>
                        <td class="title-td">Espece</td>
                        <td class="title-td">Race</td>
                        <td class="title-td">Nombre d'animaux</td>
                        <td class="title-td">Cout par mouton</td>
                    </tr>

                </table>

                <form method="post" class="infosOffre_selection">
                    <div class="input-date-detail">

                        <div class="infosOffre_date">
                            <h3>Choisissez vos dates :</h3>
                            <p>
                                <label asp-for="DateDebutDemande">Date de début :</label>
                                <input asp-for="DateDebutDemande" type="date" id="dateOffreStart" disabled />

                            </p>
                            <p>
                                <label asp-for="DateFinDemande">Date de fin : </label>
                                <input asp-for="DateFinDemande" type="date" id="dateOffreEnd" disabled />
                                @Html.ValidationMessage("DateFinDemande")
                            </p>
                        </div>

                        <div class="eval-demande-container">
                            <h4>Détails de la demande</h4>
                            <p><i class="far fa-calendar-alt"></i>Nombre de jours: <span id="nmbJour">Selectionner Date</span></p>
                            <p><i class="fas fa-paw"></i>Taille du troupeau: <span id="nmbAnim" value="12">0</span></p>
                            <p><i class="fas fa-euro-sign"></i>Cout de la prestation: <span id="coutPresta">0€</span></p>
                        </div>
                    </div>


                    <div class="infosOffre_date">
                        <h3>Choisissez votre moyen de paiement : </h3>
                        <div class="info-offre-input">
                            <select name="IdMoyenPaiement" id="moyen1" asp-for="IdMoyenPaiement" disabled>
                                <option value="">Moyen de payement</option>
                            </select>
                        </div>

                        <div class="infosOffre_button">
                            <button class="btn-disabled" type="submit" disabled>Valider</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
}
    else{

<input id="nmbAnimTotalOffre" value="@Model.OffreDeTonteDetails.NombreAnimaux" type="hidden" />

<div class="infosOffre_main">
    
    <div class="info-offre-list">
        <div class="infosOffre_div">
            <div class="list-autre-eleveur">
                @foreach (OffreDeTonteDetails offreDeTonteDetails in Model.OffresDeTonteDetails)
                {
                    <div class="body-card-list-offre-details">

                        <div class="liste-offres-right">
                            <div class="liste-detail-offres-text">
                                
                                <h3>@offreDeTonteDetails.NomUtilisateur<!-- nom de l'eleveur --></h3>
                                <p> @offreDeTonteDetails.NomOffre <!-- nom de l'offre --></p>
                                <!-- je vais appeller l'api pour la vue a ce moment et j'aurais besoin d'object avec longitude lattitude terrain et offre -->
                                <!-- TU PEUX UTILISER @Model.TerrainDetails.LongitudeTerrain ET @Model.TerrainDetails.LatitudeTerrain + @offreDeTonteDetails.LatitudeOffreDeTonte ET
                                @offreDeTonteDetails.LongitudeOffreDetonte-->
                                <p>Distance : @offreDeTonteDetails.DistanceOffreDeTonteTerrain km<!-- distance avec l'offre --></p>
                            </div>
                            <div class="card-right-list-offre">
                                <p> @offreDeTonteDetails.AdresseTroupeau <!-- nom de l'offre --></p>
                                <p alt="prix par mouton par jour"> Prix: @offreDeTonteDetails.CoutAnimalParJour €/mouton<!-- nom de l'eleveur --></p>
                                <p>Distance max : @offreDeTonteDetails.DistanceMaximale km<!-- distance avec l'offre --></p>
                            </div>
                            <div class="lien-carte-terrain">
                                <a class="" asp-controller="Utilisateur" asp-action="ChoixOffreDescription" asp-route-idOffreDeTonte="@offreDeTonteDetails.IdOffre" asp-route-idTerrain="@Model.TerrainDetails.IdTerrain"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="infosOffre_infos">
                <h1 class="infosOffre_h1"> Offre: @Model.OffreDeTonteDetails.NomOffre</h1>
                <p class="infosOffre_infosNomEleveur"><strong>Nom de l'éleveur : <a href="#">@Model.OffreDeTonteDetails.NomUtilisateur @Model.OffreDeTonteDetails.PrenomUtilisateur</a></strong></p>
                <p class="infosOffre_infosDescription"><strong>Description de l'offre : </strong>@Model.OffreDeTonteDetails.DescriptionOffre</p>
                <table class="info-offre-table">
                    <tr>
                        <td class="title-td">Ville</td>
                        <td class="title-td">Code Postal</td>
                        <td class="title-td">Distance</td>
                        <td class="title-td">Debut de l'offre</td>
                        <td class="title-td">Fin de l'offre</td>
                    </tr>
                    <tr>
                        <td>@Model.OffreDeTonteDetails.NomVilleOfrreDeTonte</td>
                        <td>@Model.OffreDeTonteDetails.CodePostaleOffreDeTonte</td>
                        <td>@Model.OffreDeTonteDetails.DistanceOffreDeTonteTerrain km</td>
                        <td>@Model.OffreDeTonteDetails.DateDebutOffre.ToString("dd/MM/yyyy")</td>
                        <td>@Model.OffreDeTonteDetails.DateFinOffre.ToString("dd/MM/yyyy")</td>
                    </tr>
                </table>
                @*<p class="infosOffre_infosDateDebut"><strong>Date de début de l'offre : </strong>@Model.OffreDeTonteDetails.DateDebutOffre.ToString("dd/MM/yyyy")</p>
                    <p class="infosOffre_infosDateFin"><strong>Date de fin de l'offre : </strong>@Model.OffreDeTonteDetails.DateFinOffre.ToString("dd/MM/yyyy")</p>
                    <p class="infosOffre_infosNomVille"><strong>Ville / Code Postal : </strong>@Model.OffreDeTonteDetails.NomVilleOfrreDeTonte / @Model.OffreDeTonteDetails.CodePostaleOffreDeTonte</p>
                    <p class="infosOffre_infosDistance"><strong>Distance : </strong>@Model.OffreDeTonteDetails.DistanceOffreDeTonteTerrain Km</p>*@
                <table class="info-offre-table">
                    <tr>
                        <td class="title-td">Espece</td>
                        <td class="title-td">Race</td>
                        <td class="title-td">Nombre d'animaux</td>
                        <td class="title-td">Cout par mouton</td>
                    </tr>
                    <tr>
                        <td>@Model.OffreDeTonteDetails.EspeceAnimal</td>
                        <td>@Model.OffreDeTonteDetails.RaceAnimal</td>
                        <td>@Model.OffreDeTonteDetails.NombreAnimaux</td>
                        <td>@Model.OffreDeTonteDetails.CoutAnimalParJour €</td>
                    </tr>
                </table>
                @*
                    <p class="infosOffre_infosEspeceAnimal"><strong>Espece d'animal : </strong>@Model.OffreDeTonteDetails.EspeceAnimal</p>
                    <p class="infosOffre_infosRaceAnimal"><strong>Race d'animal : </strong>@Model.OffreDeTonteDetails.RaceAnimal</p>
                    <p class="infosOffre_infosNombreAnimal"><strong>Nombres d'animaux : </strong>@Model.OffreDeTonteDetails.NombreAnimaux</p>
                    <p class="infosOffre_infosPrix"><strong>Coût par jour par mouton : </strong>@Model.OffreDeTonteDetails.CoutAnimalParJour</p>
                *@
                <form method="post" class="infosOffre_selection">
                    <div class="input-date-detail">

                        <div class="infosOffre_date">
                            <h3>Choisissez vos dates :</h3>
                            <p>
                                <label asp-for="DateDebutDemande">Date de début :</label>
                                <input asp-for="DateDebutDemande" type="date" id="dateOffreStart" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@Model.OffreDeTonteDetails.DateFinOffre.ToString("yyyy-MM-dd")" value="" onchange="handlerstart(event);" required />
                                @Html.ValidationMessage("DateDebutDemande")
                            </p>
                            <p>
                                <label asp-for="DateFinDemande">Date de fin : </label>
                                <input asp-for="DateFinDemande" type="date" id="dateOffreEnd" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@Model.OffreDeTonteDetails.DateFinOffre.ToString("yyyy-MM-dd")" value="" onchange="handlerend(event);" required />
                                @Html.ValidationMessage("DateFinDemande")
                            </p>
                        </div>

                        <div class="eval-demande-container">
                            <h4>Détails de la demande</h4>
                            <p><i class="far fa-calendar-alt"></i>Nombre de jours: <span id="nmbJour">Selectionner Date</span></p>
                            <p><i class="fas fa-paw"></i>Taille du troupeau: <span id="nmbAnim" value="12">0</span></p>
                            <p><i class="fas fa-euro-sign"></i>Cout de la prestation: <span id="coutPresta">0€</span></p>
                        </div>
                    </div>


                    <div class="infosOffre_date">
                        <h3>Choisissez votre moyen de paiement : </h3>
                        <div class="info-offre-input">
                            <select name="IdMoyenPaiement" id="moyen1" asp-for="IdMoyenPaiement" required>
                                <option value="">Moyen de payement</option>
                                @foreach (MoyenPaiement moyenPaiement in @Model.MoyensPaiements)
                                {
                                    <option value="@moyenPaiement.IdMoyenPaiement">@moyenPaiement.TypeMoyenPaiement</option>
                                }
                            </select>
                        </div>
                        @Html.ValidationMessage("IdMoyenPaiement")

                        <div class="infosOffre_button">
                            <input type="hidden" asp-for="IdTerrain" value="@Model.TerrainDetails.IdTerrain" />
                            <input type="hidden" id="prix" asp-for="CoutDemande" value="" />
                            <input type="hidden" name="NombreAnimaux" id="nmbAnimTotal" asp-for="NombreAnimaux" value="" />
                            <input type="hidden" asp-for="IdOffre" value="@Model.OffreDeTonteDetails.IdOffre" />


                            <button class="" type="submit" asp-controller="Utilisateur" asp-action="NouvelleDemandeDeReservation">Valider</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
}