@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.Model
@using Fr.EQL.Ai109.Tontapatt.WebApplication.Models
@model DemandeDeReservationViewModel
@{
    DateTime today = DateTime.Now;
}
<main class="declarationAnomalie_main">
    <h1 class="declarationAnomalie_h1">Declaration d'une anomalie</h1>
    <div class="declarationAnomalie">
        <div class="declarationAnomalie_infosPrestation">
            <h2>Récapitulatif de la prestation : </h2>
            <p class="declarationAnomalie_infosPrestation_infosNomEleveur"><strong>Nom de l'éleveur : <a href="#">@Model.OffreDeTonteDetails.NomUtilisateur @Model.OffreDeTonteDetails.PrenomUtilisateur</a></strong></p>
            <p class="declarationAnomalie_infosPrestation_infosNomEleveur"><strong>Nom du Client : <a href="#">@Model.TerrainDetails.NomUtilisateur @Model.TerrainDetails.PrenomUtilisateur</a></strong></p>
            <p class="declarationAnomalie_infosPrestation_infosDateDebut"><strong>Date de début de la prestation : </strong>@Model.OffreDeTonteDetails.DateDebutOffre.ToString("MM/dd/yyyy")</p>
            <p class="declarationAnomalie_infosPrestation_infosDateFin"><strong>Date de fin de la prestation : </strong>@Model.OffreDeTonteDetails.DateFinOffre.ToString("MM/dd/yyyy")</p>
            <p class="declarationAnomalie_infosPrestation_infosNomVille"><strong>Adresse du terrain : </strong>@Model.TerrainDetails.NomVilleTerrain / @Model.TerrainDetails.CodePostalTerrain</p>
            <p class="declarationAnomalie_infosPrestation_infosEspeceAnimal"><strong>Espece d'animal : </strong>@Model.OffreDeTonteDetails.EspeceAnimal</p>
            <p class="declarationAnomalie_infosPrestation_infosRaceAnimal"><strong>Race d'animal : </strong>@Model.OffreDeTonteDetails.RaceAnimal</p>
            <p class="declarationAnomalie_infosPrestation_infosNombreAnimal"><strong>Nombres d'animaux : </strong>@Model.OffreDeTonteDetails.NombreAnimaux</p>
            <p class="declarationAnomalie_infosPrestation_infosPrix"><strong>Coût par jour par mouton : </strong>@Model.OffreDeTonteDetails.CoutAnimalParJour</p>
            <a class="declarationAnomalie_infosPrestation_buttonChange" href="#">Revenir aux offres précédentes</a>
        </div>
        <form class="declarationAnomalie_form" method="post">
            <h2>Remplir le formulaire de déclaration d'anomalie :</h2>
            <div class="declarationAnomalie_formInput">
                <div class="declarationAnomalie_formInfos">
                    <div>
                        <label asp-for="nomUtilisateur">Nom :</label>
                        <input asp-for="nomUtilisateur" type="text" id="name">
                    </div>
                    <div>
                        <label asp-for="mailUtilisateur">Email :</label>
                        <input asp-for="mailUtilisateur" type="email" id="mail">
                    </div>
                    <div>
                        <label asp-for="DescriptionAnomalie">Description de l'anomalie:</label>
                        <textarea asp-for="DescriptionAnomalie" id="msg"></textarea>
                    </div>
                </div>

                <div class="declarationAnomalie_formRaison">
                    <p>Quelle la raison de votre déclaration d'anomalie : </p>
                    <select name="IdTypeAnomalie" id="pet-select">
                        <option value="1">Animal bloqué</option>
                        <option value="2">Animal perdu</option>
                        <option value="3">Animal blessé</option>
                        <option value="4">Terrain abimé</option>
                        <option value="5">Impossiblité de se déplacer</option>
                        <option value="6">Restriction sanitaire</option>
                        <option value="7">Clôture abimé</option>
                        <option value="8">Problème de gestion de troupeau</option>
                    </select>
                </div>
                <div>
                    <input type="hidden" asp-for="IdDemande" value="@Model.OffreDeTonteDetails.IdOffre" />
                    <input type="hidden" asp-for="IdUtilisateurClient" value="@Model.TerrainDetails.IdUtilisateur" />
                    <input type="hidden" asp-for="IdUtilisateurEleveur" value="@Model.OffreDeTonteDetails.IdUtilisateur" />
                    <input type="hidden" asp-for="IdTypeAnomalie" value="@Model.Anomalie.IdTypeAnomalie" />
                </div>
            </div>
            <button class="declarationAnomalie_ValidateButton" type="submit" asp-controller="Utilisateur" asp-action="NouvelleDemandeDeReservation">Valider la déclaration</button>
        </form>
    </div>
</main>