@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.Model
@using Fr.EQL.Ai109.Tontapatt.WebApplication.Models
@model AnomalieDetailsViewModel
@{
    DateTime today = DateTime.Now;
}
<h1 class="declarationAnomalie_h1">Declaration d'une anomalie</h1>
<div class="declarationAnomalie_main">
    <h2>Récapitulatif de la prestation : </h2>
    <div class="declarationAnomalie">
        <div class="declarationAnomalie_infosPrestation">
            <table class="info-offre-table">
                <tr>
                    <td class="title-td">Prestation</td>
                    <td class="title-td">Eleveur</td>
                </tr>
                <tr>
                    <td>@Model.DemandeDeReservationDetails.NumeroReservation</td>
                    <td>@Model.DemandeDeReservationDetails.OffreDeTonteDetails.NomUtilisateur</td>
                </tr>
            </table>

            <table class="info-offre-table">
                <tr>
                    <td class="title-td">Début</td>
                    <td class="title-td">Fin</td>
                </tr>
                <tr>
                    <td>@Model.DemandeDeReservationDetails.DateDebutDemande.ToString("dd/MM/yyyy")</td>
                    <td>@Model.DemandeDeReservationDetails.DateFinDemande.ToString("dd/MM/yyyy")</td>
                </tr>
            </table>

            <table class="info-offre-table">
                <tr>
                    <td class="title-td">Adresse</td>
                    <td class="title-td">Ville</td>
                </tr>
                <tr>
                    <td>@Model.DemandeDeReservationDetails.TerrainDetails.AdresseTerrain</td>
                    <td>@Model.DemandeDeReservationDetails.TerrainDetails.CodePostalTerrain / @Model.DemandeDeReservationDetails.TerrainDetails.NomVilleTerrain</td>
                </tr>
            </table>

            <table class="info-offre-table">
                <tr>
                    <td class="title-td">Espece</td>
                    <td class="title-td">Race</td>
                    <td class="title-td">Nombre</td>
                </tr>
                <tr>
                    <td>@Model.DemandeDeReservationDetails.OffreDeTonteDetails.EspeceAnimal</td>
                    <td>@Model.DemandeDeReservationDetails.OffreDeTonteDetails.RaceAnimal</td>
                    <td>@Model.DemandeDeReservationDetails.OffreDeTonteDetails.NombreAnimaux</td>
                </tr>
            </table>


            <a class="infosOffre_buttonChange btn-primary" asp-controller="Utilisateur" asp-action="PrestationDetailsClient" asp-route-idDemandeDeReservation="@Model.DemandeDeReservationDetails.IdDemande" asp-route-idClasse="@ViewBag.Classe"><i class="fas fa-arrow-left"></i></a>
        </div>
        <form class="declarationAnomalie_form" method="post">
            <h2>Remplir le formulaire de déclaration d'anomalie :</h2>
            <div class="">
                <div class="declarationAnomalie_formInfos">

                    <div class="declarationAnomalie_formRaison">
                        <select name="IdTypeAnomalie" id="type-anomalie" asp-for="IdTypeAnomalie" required>
                            <option value="">Choisir le type d'anomalie</option>
                            @foreach (TypeAnomalie typeAnomalie in @Model.TypesAnomalie)
                            {
                                <option value="@typeAnomalie.IdTypeAnomalie">@typeAnomalie.TypeAnomalieString</option>
                            }
                        </select>
                    </div>
                    <div>
                        <p>
                            <label name="DescriptionAnomalie">Description de l'anomalie:</label>
                        </p>
                        <textarea name="DescriptionAnomalie" id="msg" class="textarea-grey"></textarea>
                    </div>
                </div>

                <div>
                    <input type="hidden" name="IdDemande" value="@Model.DemandeDeReservationDetails.IdDemande" />
                    <input type="hidden" name="IdUtilisateurClient" value="@Model.DemandeDeReservationDetails.TerrainDetails.IdUtilisateur" />
                    <input type="hidden" name="IdUtilisateurEleveur" value="@Model.DemandeDeReservationDetails.OffreDeTonteDetails.IdUtilisateur" />
                    <input type="hidden" name="IdTypeAnomalie" value="@Model.IdTypeAnomalie" />
                    <input type="hidden" name="IdUtilisateurDeclarant" value="@ViewBag.IdUtilisateur" />
                    <input type="hidden" name="IdClasse" value="@ViewBag.Classe" />
                </div>
            </div>
            <button class="btn-return btnsubmitanomalie" type="submit" asp-controller="Utilisateur" asp-action="NouvelleAnomalieClient">Valider la déclaration</button>
        </form>
    </div>
</div>