@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.WebApplication.Models
@using Fr.EQL.Ai109.Tontapatt.Model
@model AnomalieDetailsViewModel
@{
}
<main class="listeAnomalie_main">
    <h1 class="listeAnomalie_h1">Liste des anomalies</h1>
    <div class="listeAnomalies">
        @if (Model.Anomalies.Count == 0)
        {
            <h2>Aucune anomalie est déclarée pour cette prestation</h2>
        }
        else
        {
            @foreach (Anomalie anomalie in Model.Anomalies)
            {
                <div class="listeAnomalie">
                        <a asp-action="AnomalieDescription" asp-controller="Utilisateur" asp-route-idDemandeDeReservation="@anomalie.IdDemande" asp-route-idUtilisateur="@ViewBag.IdUtilisateur" asp-route-idAnomalie="@anomalie.IdAnomalie" asp-route-idClasse="@ViewBag.Classe">
                    <div class="listeAnomalie_infoStatus">

                            <div class="listeAnomalie_infoStatusDetails">
                                <i class="far fa-eye fa-3x"></i>
                            </div>
                    </div>
                        </a>
                    <div class="listeAnomalie_infosaAnomalie">
                        @if (Model.DemandeDeReservationDetails.TerrainDetails.IdUtilisateur == ViewBag.IdUtilisateur)
                        {
                            <h2>Anomalie de la prestation numero : <a asp-controller="Utilisateur" asp-action="PrestationDetailsClient" asp-route-idDemandeDeReservation="@Model.DemandeDeReservationDetails.IdDemande" asp-route-idClasse="@ViewBag.Classe">@Model.DemandeDeReservationDetails.NumeroReservation</a></h2>
                        }
                        else
                        {
                            <h2>Anomalie de la prestation numero : <a asp-controller="Utilisateur" asp-action="PrestationDetailsEleveur" asp-route-idDemandeDeReservation="@Model.DemandeDeReservationDetails.IdDemande" asp-route-idClasse="@ViewBag.Classe">@Model.DemandeDeReservationDetails.NumeroReservation</a></h2>
                        }
                        @if (anomalie.IdUtilisateurDeclarant == ViewBag.IdUtilisateur)
                        {
                            <p class="declarant-prestation-tag">Vous êtes le déclarant de cette anomalie</p>
                        }
                        else
                        {
                            <p class="declarant-prestation-tag">Vous n'êtes pas le déclarant de cette anomalie</p>
                        }
                        @if (Model.DemandeDeReservationDetails.TerrainDetails.IdUtilisateur == ViewBag.IdUtilisateur)
                        {
                            <p class="client-prestation-tag">Nom de l'éleveur : @Model.DemandeDeReservationDetails.OffreDeTonteDetails.NomUtilisateur NomUtilisateur </p>
                        }
                        else
                        {
                            <p class="eleveur-prestation-tag">Client :  @Model.DemandeDeReservationDetails.TerrainDetails.NomUtilisateur @Model.DemandeDeReservationDetails.TerrainDetails.PrenomUtilisateur</p>
                        }
                        <p>Lieux de la prestation : @Model.DemandeDeReservationDetails.TerrainDetails.NomVilleTerrain / @Model.DemandeDeReservationDetails.TerrainDetails.CodePostalTerrain</p>
                        @if (!anomalie.DateFinAnomalie.HasValue)
                        {
                            <p> Statut de l'anomalie :  <span class="descriptionAnomalie_statusInfosEnCours">En cours</span></p>
                        }
                        else
                        {
                            <p> Statut de l'anomalie :  <span class="descriptionAnomalie_statusTermine">Terminé</span></p>
                        }
                    </div>
                </div>
            }
        }
    </div>
</main>