@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.Model
@using Fr.EQL.Ai109.Tontapatt.WebApplication.Models
@model UtilisateurPrestationModel
@{

    string attente = "";
    string encour = "";
    string terminer = "";
    string annuler = "";
    string action = "";

    if (ViewBag.classe == 0)
    {
        attente = "active";
    }
    else if (ViewBag.classe == 1)
    {
        encour = "active";
    }
    else if (ViewBag.classe == 2)
    {
        terminer = "active";
    }
    else if (ViewBag.classe == 3)
    {
        annuler = "active";
    }

}
<div class="body-demande-Prestation">

    <div class="main-terrain main-demande-Prestation">

        @foreach (DemandeDeReservationDetails prestation in @Model.demandeDeReservationDetails)
        {
            <div class="body-card-terrain terrain-card-prestation">
                <div class="terrain-left terrain-left-prestation">
                    <img src="https://cdn.pixabay.com/photo/2020/11/11/21/20/lamb-5733685_960_720.jpg" alt="">
                </div>
                <div class="terrain-right">
                    @if (prestation.TerrainDetails.IdUtilisateur == ViewBag.IdUtilisateur)
                    {
                        <span class="client-prestation-tag">Client</span>
                        action = "PrestationDetailsClient";
                    }
                    else
                    {
                        <span class="eleveur-prestation-tag">Eleveur</span>
                        action = "PrestationDetailsEleveur";
                    }
                    <h2>Terrain: @prestation.TerrainDetails.NomTerrain</h2>
                    <p>
                        <span class="ville">Animaux: @prestation.NombreAnimaux</span>
                    </p>
                    <p>
                        <span class="code-postal">Surface: @prestation.TerrainDetails.SurfaceTerrain</span>
                    </p>
                    <p>@prestation.DateDebutDemande.ToShortDateString() <i class="fas fa-long-arrow-alt-right"></i> @prestation.DateFinDemande.ToShortDateString() </p>
                    <div class="footer-card-terrain">
                        <P>
                            <span class="icone-terrain">
                                <a asp-action="@action" asp-controller="Utilisateur" asp-route-idDemandeDeReservation="@prestation.IdDemande" asp-route-idClasse="@ViewBag.classe"><i class="far fa-eye"></i></a>
                            </span>
                        </P>
                    </div>
                </div>
            </div>
        }



    </div>


    <div class="demande-presation-right">
        <h2>Demande de prestation</h2>
        <div class="body-button-prestaton">
            <div class="button-choose-cat-prestration @attente">
                <h3><a asp-controller="Utilisateur" asp-action="ListePrestation" asp-route-id="@ViewBag.IdUtilisateur">En Attente </a></h3>
            </div>
            <div class="button-choose-cat-prestration @encour">
                <h3><a asp-controller="Utilisateur" asp-action="ListePrestationEncour" asp-route-id="@ViewBag.IdUtilisateur">En cours</a></h3>
            </div>
            <div class="button-choose-cat-prestration @terminer">
                <h3><a asp-controller="Utilisateur" asp-action="ListePrestationTerminer" asp-route-id="@ViewBag.IdUtilisateur">Terminer</a></h3>
            </div>
            <div class="button-choose-cat-prestration @annuler">
                <h3><a asp-controller="Utilisateur" asp-action="listePrestationAnnuler" asp-route-id="@ViewBag.IdUtilisateur">Annuler</a></h3>
            </div>

        </div>

    </div>
</div>
