@*

*@
@using Fr.EQL.Ai109.Tontapatt.WebApplication.Models
@using Fr.EQL.Ai109.Tontapatt.Model
@model PointageJournalierDetailsViewModel
@{
    ViewData["Title"] = "TONTAPATT - Pointage Journalier";
    #region verification si eleveur a deja pointer
    DateTime dateDernierPointage = new();
    DateTime heurePrevu = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 8, 0, 0);
    DateTime heureActuelle = DateTime.Now;
    bool estDansIntervalDeTemps = Math.Abs((heurePrevu - heureActuelle).TotalHours) <= 1;
    bool dejaPointer;
    if(Model.ListPointagesJournalier.Count == 0)
    {
        dejaPointer = false;
    }
    else
    {
        dejaPointer = Model.ListPointagesJournalier[Model.ListPointagesJournalier.Count - 1].HeurePointage.Date == DateTime.Today;
    }
    bool apresDateDebut = DateTime.Compare(Model.DemandeDeReservationDetails.DateDebutDemande, heureActuelle) < 0;
    bool disabled = true;
    if(estDansIntervalDeTemps && !dejaPointer && apresDateDebut)
    {
        disabled = false;
    }
    else
    {
        disabled = true;
    }
    #endregion
}

<div class="infosOffre_main">
    <h1 class="infosOffre_h1">Pointage Journalier</h1>
    @*@Model.DemandeDeReservationDetails.*@
    <div class="infosOffre_div">
        <div class="infosOffre_infos">
            <p class="infosOffre_infosNumeroReservation">
                <strong>Numéro réservervation : 
                    <a asp-controller="Utilisateur" asp-action="PrestationDetailsEleveur" asp-route-idDemandeDeReservation="@Model.DemandeDeReservationDetails.IdDemande">@Model.DemandeDeReservationDetails.NumeroReservation</a>
                </strong></p>

            @*tableau des pointages*@
            <table>
                <tr>
                    <td>
                        Date
                    </td>
                    <td>
                        Heure
                    </td>
                </tr>

                @foreach (PointageJournalier p in Model.ListPointagesJournalier)
                {
                    <tr>
                        <td>
                            @p.HeurePointage.ToString("yyyy-MM-dd")
                            @{dateDernierPointage = p.HeurePointage; }
                        </td>
                        <td>
                            @p.HeurePointage.TimeOfDay
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="infosOffre_selection">
            <div class="infosOffre_date">
                <label>Heure Prevue :</label>
                <input asp-for="@Model.PointageJournalier.HeurePrevu" type="time" min="08:00" max="20:00" value="08:00" disabled />

                <input class="btn-infos" type="button" value="Pointer" onclick="location.href='@Url.Action("PointageJournalier", "Utilisateur", new {idDemandeDeReservation=@ViewBag.IdDemandeDeReservation, idUtilisateur=@ViewBag.IdUtilisateur})'" disabled="@disabled" />

                <a class="btn-infos" asp-controller="Home" asp-action="Indexreturn" asp-route-idUtilisateur="@ViewBag.IdUtilisateur">Acceuil</a>

            </div>
        </div>
    </div>
</div>