@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.Model
@model DemandeDeReservationDetails
@{
}
<div class="infosOffre_main">
    <h2 class="infosOffre_h1">Votre prestation Actuelle numéro @Model.NumeroReservation</h2>

    <h3 class="infosOffre_h1"> Offre : @Model.OffreDeTonteDetails.NomOffre</h3>
    <div class="infosOffre_div">
        <div class="infosOffre_infos">
            <p class="infosOffre_infosNomUtilisateur"><strong>Nom du client : <a href="#">@Model.TerrainDetails.NomUtilisateur @Model.TerrainDetails.PrenomUtilisateur</a></strong></p>
            <p class="infosOffre_infosDescription"><strong>Description du Terrain: </strong>@Model.TerrainDetails.DescriptionTerrain</p>
            <p class="infosOffre_infosDateDebut"><strong>Date de début de la prestation : </strong>@Model.DateDebutDemande.ToString("dd/MM/yyyy")</p>
            <p class="infosOffre_infosDateFin"><strong>Date de fin de la prestation : </strong> @Model.DateFinDemande.ToString("dd/MM/yyyy")</p>
            <p class="infosOffre_infosDateAcceptation">
                <strong>Date de l'acceptation : </strong>
                @if (Model.DateAcceptationDemande.HasValue)
                {
                    @Model.DateAcceptationDemande.Value.ToString("dd/MM/yyyy");
                }
                else
                {
                    <span>La demande nest pas encore acceptée</span>
                }
            </p>
            <p class="infosOffre_infosDateInstallationTroupeau">
                <strong>Date de l'installation du tropeau : </strong>
                @if (Model.DateInstallationTroupeau.HasValue)
                {
                    Model.DateInstallationTroupeau.Value.ToString("dd/MM/yyyy");
                }
                else if (!Model.DateAcceptationDemande.HasValue)
                {
                    <span>Le demande n'est pas encore acceptée</span>
                }
                else
                {
                    <span>Le troupeau n'est pas encore installé</span>
                }
            </p>
            <p class="infosOffre_infosDistance"><strong>Distance : </strong>@Model.OffreDeTonteDetails.DistanceOffreDeTonteTerrain km </p>
            <p class="infosOffre_infosNomVille"><strong>Ville / Code Postal : </strong>@Model.OffreDeTonteDetails.NomVilleOfrreDeTonte. / @Model.OffreDeTonteDetails.CodePostaleOffreDeTonte</p>
            <p class="infosOffre_infosEspeceAnimal"><strong>Espece d'animal : </strong>@Model.OffreDeTonteDetails.EspeceAnimal</p>
            <p class="infosOffre_infosRaceAnimal"><strong>Race d'animal : </strong>@Model.OffreDeTonteDetails.RaceAnimal</p>
            <p class="infosOffre_infosNombreAnimal"><strong>Nombres d'animaux : </strong>@Model.OffreDeTonteDetails.NombreAnimaux</p>
            <p class="infosOffre_infosPrix"><strong>Coût par jour par animal: </strong>@Model.OffreDeTonteDetails.CoutAnimalParJour</p>
        </div>

        <div class="infosOffre_selection">
            @if (ViewBag.Classe == 1)
            {
                <div class="btn-prestation-details-right">
                    <a class="btn-infos" asp-controller="Utilisateur" asp-action="PointageJournalierEleveur" asp-route-idDemandeDeReservation="@Model.IdDemande" asp-route-idUtilisateur="@Model.TerrainDetails.IdUtilisateur" asp-route-idClasse="@ViewBag.Classe">Pointage Journalier</a>
                </div>
                <div class="btn-prestation-details-right">
                    <a class="btn-infos" asp-controller="Utilisateur" asp-action="DeclarationAnomalieEleveur" asp-route-idDemandeDeReservation="@Model.IdDemande" asp-route-idUtilisateur="@Model.TerrainDetails.IdUtilisateur" asp-route-idClasse="@ViewBag.Classe">Déclaration d'une anomalie</a>
                </div>
                <div class="btn-prestation-details-right">
                    <a class="btn-infos" asp-controller="Utilisateur" asp-action="AnnulationPrestation" asp-route-idDemandeDeReservation="@Model.IdDemande" asp-route-idUtilisateur="@Model.TerrainDetails.IdUtilisateur" asp-route-idClasse="@ViewBag.Classe">Annulation de la Prestation en cours</a>
                </div>
                <div class="btn-prestation-details-right">
                    <a class="btn-infos" asp-controller="Utilisateur" asp-action="FinPrestation" asp-route-idDemandeDeReservation="@Model.IdDemande" asp-route-idUtilisateur="@Model.TerrainDetails.IdUtilisateur">Terminer</a>
                </div>
            }
            else if (ViewBag.Classe == 0)
            {
                <div class="btn-prestation-details-right">
                    <button class="btn-infos">Refuser la demande de réservation</button>
                </div>
                <div class="btn-prestation-details-right">
                    <a class="btn-infos" asp-controller="Utilisateur" asp-action="ValiderPrestation" asp-route-idDemandeDeReservation="@Model.IdDemande" asp-route-idUtilisateur="@Model.OffreDeTonteDetails.IdUtilisateur">validation</a>
                </div>
            }

        </div>
    </div>
</div>