@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.Ai109.Tontapatt.Model
@model DemandeDeReservationDetails
@{
    #region CONDITION BOUTON INSTALLER TROUPEAU
    bool btnInstallerTroupeauDisabled = true;
    string messageBoutonInstallerTroupeau;
    string btnInstallerTroupeauDisabledClass = "";
    if (Model.DateInstallationTroupeau.HasValue)
    {
        btnInstallerTroupeauDisabled = true;
        messageBoutonInstallerTroupeau = "Le troupeau est déjà installé";
        btnInstallerTroupeauDisabledClass = "btn-disabled";
    }
    else if (DateTime.Compare(Model.DateDebutDemande, DateTime.Today) > 0)
    {
        btnInstallerTroupeauDisabled = true;
        messageBoutonInstallerTroupeau = "Vous ne pouvez pas installer le troupeau avant le début de la prestation";
        btnInstallerTroupeauDisabledClass = "btn-disabled";
    }
    else
    {
        btnInstallerTroupeauDisabled = false;
        messageBoutonInstallerTroupeau = "Installer le Troupeau";
        btnInstallerTroupeauDisabledClass = "";
    }
    #endregion

    #region CONDITION BOUTON POINTAGE
    bool btnPointageJournalierDisabled = true;
    string messageBoutonPointageJournalier;
    string btnPointageJournalierDisabledClass = "";
    if (Model.DateInstallationTroupeau.HasValue && DateTime.Compare(Model.DateInstallationTroupeau.Value, DateTime.Today) < 0)
    {
        btnPointageJournalierDisabled = false;
        messageBoutonPointageJournalier = "Pointage Journalier";
        btnPointageJournalierDisabledClass = "";
    }
    else
    {
        btnPointageJournalierDisabled = true;
        messageBoutonPointageJournalier = "Vous ne pouvez pas accéder à la liste de pointage ni pointer si le troupeau n'est pas encore installé";
        btnPointageJournalierDisabledClass = "btn-disabled";
    }
    #endregion

    #region CONDITION BOUTON DECLARATION ANOMALIE
    bool btnDeclarerAnomalieDisabled = false;
    string messageBoutonDeclarerAnomalie = "Declarer une Anomalie";
    string btnDeclarerAnomalieDisabledClass = "";
    #endregion

    #region CONDITION BOUTON LISTE ANOMALIE
    bool btnListeAnomalieDisabled = false;
    string messageBoutonListeAnomalie = "Liste Anomalies";
    string btnListeAnomalieDisabledClass = "";
    #endregion

    #region CONDITION BOUTON ANNULATION PREMATUREE
    string btnAnnulPremDisabledClass = "";
    bool btnAnnulPremDisabled = true;
    string messageBoutonAnnulPrem;
    if (DateTime.Compare(Model.DateFinDemande, DateTime.Today) < 0)
    {
        btnAnnulPremDisabled = true;
        messageBoutonAnnulPrem = "Vous ne pouvez pas annuler une prestation déjà terminée";
        btnAnnulPremDisabledClass = "btn-disabled";
    }
    else
    {
        btnAnnulPremDisabled = false;
        messageBoutonAnnulPrem = "Annulation Prematurée";
        btnAnnulPremDisabledClass = "";
    }
    #endregion

    #region CONDITION BOUTON TERMIER
    string btnTerminerDisabledClass = "";
    bool btnTerminerDisabled = true;
    string messageBoutonTerminer;
    if (DateTime.Compare(Model.DateFinDemande, DateTime.Today) > 0)
    {
        btnTerminerDisabled = true;
        messageBoutonTerminer = "Vous ne pouvez pas terminer la prestation avant sa date de fin";
        btnTerminerDisabledClass = "btn-disabled";
    }
    else if (Model.DateAcceptationDemande is null)
    {
        btnTerminerDisabled = true;
        messageBoutonTerminer = "Vous ne pouvez pas terminer une prestation si elle n'est pas acceptée";
        btnTerminerDisabledClass = "btn-disabled";
    }
    else if (Model.DateInstallationTroupeau is null)
    {
        btnTerminerDisabled = true;
        messageBoutonTerminer = "Le troupeau n'a pas été installé. Prestation non effectuée";
        btnTerminerDisabledClass = "btn-disabled";
    }
    else
    {
        btnTerminerDisabled = false;
        messageBoutonTerminer = "Terminer la Prestation";
        btnTerminerDisabledClass = "";
    }
    #endregion
}

@section LeafletMap
{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
}

@section ApiMap
{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="~/js/apiMap.js"></script>
}

<div class="infosOffre_main">
    <h2 class="infosOffre_h1">Votre prestation Actuelle numéro @Model.NumeroReservation</h2>
    <h3 class="infosOffre_h1"> Offre : @Model.OffreDeTonteDetails.NomOffre</h3>
    <div class="wrap-column-presta-details">

        <div class="map-left">
            <input type="hidden" id="longitude" value="@Model.OffreDeTonteDetails.LongitudeOffreDetonte" />
            <input type="hidden" id="latitude" value="@Model.OffreDeTonteDetails.LatitudeOffreDeTonte" />
            <div id="mapid" class="map-prestation-detail-eleveur"></div>
        </div>
        <div class="">
            <div class="infosOffre_infos offre-prestation-right">
                <p class="infosOffre_infosNomUtilisateur"><strong>Nom du client : <a href="#">@Model.TerrainDetails.NomUtilisateur @Model.TerrainDetails.PrenomUtilisateur</a></strong></p>
                <p class="infosOffre_infosDescription"><strong>Description du Terrain: </strong>@Model.TerrainDetails.DescriptionTerrain</p>
                <span class="separator-fin-prestation"></span>

                <table class="info-offre-table">
                    <tr>
                        <td class="title-td">Début</td>
                        <td class="title-td">Fin</td>
                        <td class="title-td">Acceptation</td>
                        <td class="title-td">Installation</td>
                    </tr>
                    <tr>
                        <td>@Model.DateDebutDemande.ToString("dd/MM/yyyy")</td>
                        <td>@Model.DateFinDemande.ToString("dd/MM/yyyy")</td>

                        @if (Model.DateAcceptationDemande.HasValue)
                        {
                            <td>@Model.DateAcceptationDemande.Value.ToString("dd/MM/yyyy");</td>

                        }
                        else
                        {
                            <td>La demande nest pas encore acceptée</td>

                        }

                        @if (Model.DateInstallationTroupeau.HasValue)
                        {
                            <td>@Model.DateInstallationTroupeau.Value.ToString("dd/MM/yyyy");</td>
                        }
                        else if (!Model.DateAcceptationDemande.HasValue)
                        {
                            <td>La demande n'est pas encore acceptée</td>

                        }
                        else
                        {
                            <td>Le troupeau n'est pas encore installé</td>
                        }
                    </tr>

                </table>

                <span class="separator-fin-prestation"></span>

                <table class="info-offre-table">
                    <tr>
                        <td class="title-td">Distance</td>
                        <td class="title-td">Ville</td>
                    </tr>
                    <tr>
                        <td>@Model.OffreDeTonteDetails.DistanceOffreDeTonteTerrain km </td>
                        <td>@Model.OffreDeTonteDetails.NomVilleOfrreDeTonte. / @Model.OffreDeTonteDetails.CodePostaleOffreDeTonte</td>
                    </tr>
                </table>

                <span class="separator-fin-prestation"></span>

                <table class="info-offre-table">
                    <tr>
                        <td class="title-td">Espece </td>
                        <td class="title-td">Race </td>
                        <td class="title-td">Nombre</td>
                        <td class="title-td">Cout / mouton</td>
                    </tr>
                    <tr>
                        <td>@Model.OffreDeTonteDetails.EspeceAnimal</td>
                        <td>@Model.OffreDeTonteDetails.RaceAnimal</td>
                        <td>@Model.NombreAnimaux</td>
                        <td>@Model.OffreDeTonteDetails.CoutAnimalParJour €</td>
                    </tr>
                </table>
            </div>

            <div class="infosOffre_selection selection-prestation-details">
                @if (ViewBag.Classe == 1)
                {
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnInstallerTroupeauDisabledClass" title="@messageBoutonInstallerTroupeau" type="button" value="Installer Le Troupeau" onclick="location.href='@Url.Action("InstallerTroupeau", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnInstallerTroupeauDisabled" />
                    </div>
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnPointageJournalierDisabledClass" title="@messageBoutonPointageJournalier" type="button" value="Pointage Journalier" onclick="location.href='@Url.Action("PointageJournalierEleveur", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnPointageJournalierDisabled" />
                    </div>
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnDeclarerAnomalieDisabledClass" title="@messageBoutonDeclarerAnomalie" type="button" value="Déclarer une Anomalie" onclick="location.href='@Url.Action("DeclarationAnomalieEleveur", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnDeclarerAnomalieDisabled" />
                    </div>
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnListeAnomalieDisabledClass" title="@messageBoutonListeAnomalie" type="button" value="Liste Anomalies" onclick="location.href='@Url.Action("ListeAnomalie", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnListeAnomalieDisabled" />
                    </div>
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnAnnulPremDisabledClass" title="@messageBoutonAnnulPrem" type="button" value="Annulation Prematurée" onclick="location.href='@Url.Action("AnnulationPrematuree", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnAnnulPremDisabled" />
                    </div>
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnTerminerDisabledClass" title="@messageBoutonTerminer" type="button" value="Terminer" onclick="location.href='@Url.Action("FinPrestation", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnTerminerDisabled" />
                    </div>
                }
                else if (ViewBag.Classe == 0)
                {
                    <div class="btn-prestation-details-right">
                        <button class="btn-light">Refuser</button>
                    </div>
                    <div class="btn-prestation-details-right">
                        <a class="btn-light" asp-controller="Utilisateur" asp-action="AccepterPrestation" asp-route-idDemandeDeReservation="@Model.IdDemande" asp-route-idUtilisateur="@Model.OffreDeTonteDetails.IdUtilisateur">Accepter</a>
                    </div>
                }
                else if (ViewBag.Classe == 2)
                {
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnPointageJournalierDisabledClass" title="@messageBoutonPointageJournalier" type="button" value="Pointage Journalier" onclick="location.href='@Url.Action("PointageJournalierEleveur", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnPointageJournalierDisabled" />
                    </div>
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnListeAnomalieDisabledClass" title="@messageBoutonListeAnomalie" type="button" value="Liste Anomalies" onclick="location.href='@Url.Action("ListeAnomalie", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnListeAnomalieDisabled" />
                    </div>
                    <div class="btn-prestation-details-right">
                        <input class="btn-light @btnTerminerDisabledClass" title="@messageBoutonTerminer" type="button" value="Evaluations" onclick="location.href='@Url.Action("AfficherEvaluationPrestation", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnTerminerDisabled" />
                    </div>
                }
                else if (ViewBag.Classe == 3)
                {
                    @if (Model.DateAnnulationPrematuree.HasValue)
                    {
                        <div class="btn-prestation-details-right">
                            <input class="btn-light @btnPointageJournalierDisabledClass" title="@messageBoutonPointageJournalier" type="button" value="Pointage Journalier" onclick="location.href='@Url.Action("PointageJournalierEleveur", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnPointageJournalierDisabled" />
                        </div>
                        <div class="btn-prestation-details-right">
                            <input class="btn-light @btnListeAnomalieDisabledClass" title="@messageBoutonListeAnomalie" type="button" value="Liste Anomalies" onclick="location.href='@Url.Action("ListeAnomalie", "Utilisateur", new {idDemandeDeReservation=@Model.IdDemande, idUtilisateur=@Model.OffreDeTonteDetails.IdUtilisateur, idClasse=@ViewBag.Classe})'" disabled="@btnListeAnomalieDisabled" />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
