<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/perso.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer">


</head>
<body>
    <header>
        <div class="header-left">
            <img class="logo" src="~/assets/Logo.png" />
            
        </div>
        <div class="header-right">
            @if (@ViewBag.IsInBDD == true)
            {
                
                <p>
                    <a class="" asp-controller="Home" asp-action="Index">Acceuil</a>
                </p>
                <p>
                    <a class="" asp-controller="Utilisateur" asp-action="ChoixTerrainRecherche" asp-route-id="@ViewBag.IdUtilisateur">Recherche d'Offre</a>
                </p>
                <p>
                    <a class="" asp-controller="Utilisateur" asp-action="ListePrestation" asp-route-id="@ViewBag.IdUtilisateur">Mes Offres</a>
                </p>
                <p>
                    <a class="" href="#APropos">A Propos</a>
                </p>
                <p class="icone-header">
                    <i class="far fa-user"></i>
                </p>
                <p>
                    <a class="" asp-controller="Connexion" asp-action="Deconnexion">Deconnexion</a>
                </p>
            }
            else
            {
                <p>
                    <a class="" asp-controller="Home" asp-action="Index">Acceuil</a>
                </p>
         
                <p>
                    <a class="" href="#APropos">A Propos</a>
                </p>
                <p class="icone-header">
                    <i class="far fa-user"></i>
                </p>
                <p>
                    <a class="" asp-controller="Connexion" asp-action="Index">Connexion</a>
                </p>
                <p>
                    <a class="" href="#APropos">Inscription</a>
                </p>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="container">
            <p>
                2021 - Tontapatt <i class="far fa-copyright"></i>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
